/* Global styles */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #040003; /* to change the background colour */
}

header {
    background-color: #f0f0f0;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo img {
    height: 50px;
}
/* header file size */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
/* header writiings */
nav ul li {
    display: inline;
    margin-right: 20px;
}
/* headers writings colour */
nav ul li a {
    text-decoration: none;
    color: #000501;
}
/* content padding */
section#male {
    padding: 20px;
}
/* spce between the images */
.product {
    margin-bottom: 30px;
}

.product img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.product h3 {
    margin-top: 10px;
    font-size: 18px;
    color: #f7f5f5;
}

.product p {
    color: #fbfafa;
    line-height: 1.5;
}

.product p strong {
    color: #f1efef;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

#feedback {
    background-color: #f9f9f9;
    padding: 20px;
    margin-top: 30px;
    border-radius: 5px;
}

#feedback h2 {
    color: #333;
    margin-bottom: 20px;
}

#feedback form {
    max-width: 500px;
    margin: 0 auto;
}

#feedback form div {
    margin-bottom: 15px;
}

#feedback form label {
    display: block;
    margin-bottom: 5px;
    color: #666;
}

#feedback form input[type="text"],
#feedback form input[type="email"],
#feedback form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

#feedback form textarea {
    height: 100px;
}

#feedback form button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

#feedback form button[type="submit"]:hover {
    background-color: #18cb2a;
}

/* curser upon button */
button:hover {
    background-color: #82e508;
}

