/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000505; /* to change the background colour */
}

header {
    background-color: #f9f7f7;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo img {
    height: 80px;
    width: 80px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #000501;
}

section#male {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.product {
    flex: 0 0 calc(33.33% - 20px); /* Adjusted width to fit three products in a row */
    margin-bottom: 30px;
}

.product img {
    display: block;
    max-width: 80%;
    height: 300px;
    border: 2px solid #ccc; /* Frame around the product images */
    border-radius: 10px; /* Rounded corners for the frame */
    padding: 10px; /* Added padding inside the frame */
    transition: border-color 0.3s ease; /* Smooth transition for border color change */
}

.product img:hover {
    border-color: #ff0000; /* Change border color on hover */
}

.product h3 {
    margin-top: 10px;
    font-size: 18px;
    color: #f7f5f5;
}

.product p {
    color: #fbfafa;
    line-height: 1.5;
}

.product p strong {
    color: #f1efef;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

#feedback {
    background-color: #000405; /* New background color */
    padding: 20px;
    margin-top: 30px;
    border-radius: 5px;
}

#feedback h2 {
    color: #fcfafa;
    margin-bottom: 20px;
}

#feedback form {
    max-width: 500px;
    margin: 0 auto;
}

#feedback form div {
    margin-bottom: 15px;
}

#feedback form label {
    display: block;
    margin-bottom: 5px;
    color: #f8f7f7;
}

#feedback form input[type="text"],
#feedback form input[type="email"],
#feedback form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #0f0000;
    border-radius: 5px;
    font-size: 16px;
}

#feedback form textarea {
    height: 100px;
}

#feedback form button[type="submit"] {
    background-color: #007bff;
    color: #080000;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

/* Feedback Section */
#feedback {
    text-align: center; /* Aligns the text in the middle */
    margin-top: 50px; /* Adds some top margin for spacing */
}


#feedback form button[type="submit"]:hover {
    background-color: #18cb2a;
}

button:hover {
    background-color: #82e508;
}