<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShopSphere - Payment</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>

    <header>
        <div id="logo">
            <img src="Assets\logo.png" alt="Shopsphere Logo">
            <h1>Welcome to ShopSphere</h1>
        </div>
        
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/products">Products</a></li>
                <li><a href="/orders">Orders</a></li>
                <li><a href="/watchlist">Watchlist</a></li>
                <li><a href="/categories">Categories</a></li>
                <li><a href="/bag">Bag</a></li>
                <!-- Add more navigation links as needed -->
            </ul>
        </nav>
    </header>

    <section id="payment">
        <h2>Payment</h2>
        <div id="total"></div>
        <button id="proceed-btn">Proceed to Payment</button>
    </section>

    <!-- Add footer section if necessary -->
    <!-- <footer>
        <p>&copy; 2024 Shopsphere. All rights reserved.</p>
    </footer> -->

    <script src="script.js"></script>
</body>
</html>
